@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Heebo:wght@100..900&family=Pacifico&display=swap');

:root {
  /* https://colorhunt.co/palette/6b240c994d1ce48f45f5cca0 */
  --main-color: rgb(107, 36, 12);
  --card-color: rgb(153, 77, 28);
  --third-color: rgb(228, 143, 69);
  --extra-color: rgb(245, 204, 160);

  --text-color: rgb(255, 255, 255);

  --main-border-radius: 16px;

  --logo-font-family: 'Pacifico', cursive;
  --text-font-family: 'Heebo', sans-serif;
  --title-font-family: 'Briem Hand', cursive;
}

/* Breakpoints */

/* 
sm	640px	@media (min-width: 640px) 
md	768px	@media (min-width: 768px) 
lg	1024px	@media (min-width: 1024px) 
xl	1280px	@media (min-width: 1280px) 
2xl	1536px 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100dvh;
}
